* {
  box-sizing: border-box;
}

body,
html {
  background: url('../public/paper.png');
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;

  @media screen and (min-width: 576.98px) {
    overflow-x: clip;
  }
}

a {
  color: inherit;
  text-decoration-style: dotted;
}

code {
  font-size: 95%;
}

iframe {
  border: 0;
}

img {
  user-select: none;
}

[contenteditable='true'] {
  outline: none;
  cursor: text;
}

div[contenteditable='true'] {
  min-height: calc(1.5rem * 10);
  width: 25vw;
}

[contenteditable='true']:empty:not(:focus):before {
  content: attr(data-ph);
  color: grey;
  font-style: italic;
}

footer {
  background-color: #cecece;
  padding: 1rem;
}

h2 {
  font-family: var(--font-heading);
  border-bottom: 1px solid gray;
}

.special-reverse {
  &:hover {
    background-color: #ccd;
  }

  transition: background-color 0.1s;
}

.special {
  background-color: #ccd;

  &:hover {
    background-color: transparent;
  }

  transition: background-color 0.1s;
}

.paper {
  padding: 1rem 2rem;
  color: gray;
}

#heading {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  -webkit-background-clip: text;
}

.prose {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  line-height: 1.5;

  blockquote {
    border-left: 3px solid gray;
    padding-left: 1rem;
  }

  details {
    summary > h3 {
      display: inline;
    }
  }
}

.looseleaf {
  background-color: #e6e5ac;
  color: black;

  p,
  span {
    border-left: 1px solid red;
    border-bottom: 1px solid #09f;
    display: block;
    margin: 0;
    padding: 0rem 0.5rem 0 0.5rem;
    width: 100%;
  }

  span {
    height: 2rem;
  }
}

#flex {
  align-items: flex-start;
  display: flex;

  > div {
    flex: 1;
  }

  > div:nth-child(1) {
    flex-shrink: 0;
    margin: 0.2rem 2rem 0.5rem 0;
  }

  > div:nth-child(3) {
    flex-shrink: 0;
  }

  > div:nth-child(2) {
    margin: 0.2rem 0.5rem 2rem 0;
  }

  > div:not(:nth-child(2)) {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  > div:nth-child(2) {
    flex: 2;
    max-width: 50vw;
  }
}
